/*Styling for first order header*/
h1 {
    text-decoration: underline;
}

/*General Styling for headers*/
h1, h2 {
    text-align: center;
    color: white;
    font-weight: lighter;
}

/*Styling for links*/
a {
    color: aquamarine;
}

/*Link color upon hover*/
a:hover {
    color: coral;
}

/*Some default styling for body elements*/
body {
    background-color: black;
    color: rgb(225, 225, 225);
    margin-left: 15%;
    margin-right: 15%;
    font-family: "Times New Roman", serif;
}